.cache/
.dotfiles/
.jitsu/
.local/
.mozilla/
.node-gyp/
.npm/
.nvm/
.ssh/
.ssl/
.rvm/
.themes/
.tmux/
.vagrant.d/
.vagrant/
.venv/
.vim/
Desktop/
Documents/
Downloads/
Music/
Pictures/
Projects/
Templates/
VirtualBox VMs/
perl5/
venv/
.gem/
.cpanm/
.cpanmreporter/
bundle/
vendor/
.cpan/
.gnupg/
.config/
.bundle/
.gconf/
.gnome/
openvpn/
deja-dup/
.ansible/
.task/
.clamtk/
.pki/
openvpn/
.aptitude/
.cpanreporter/
.keychain/
.perlbrew
.pylint.d/
.fpp/
.ansible_galaxy
.msf4/
.dbus/
packages/
