[user]
    name = "Mario Valderrama"
    email = "<>"
[core]
    editor = vim
[push]
    default = simple
[alias]
    a = add
    b = !"git symbolic-ref HEAD 2>/dev/null | cut -d'/' -f3"
    c = commit
    s = status -sb
    m = merge --no-ff --edit
    bl = blame -w
    co = checkout
    ap = add --patch
    st = status
    amend = commit --amend
    branches = branch -a
    stashes = stash list
    l = log --graph --oneline --decorate
    lg = log --graph --all --decorate --pretty=short
    last = log -1 HEAD'
    unstage = reset HEAD --
    temp = !"git branch | grep -q temp && git branch -D temp; git checkout -b temp"
    switch = "!./.git/hooks/pre-checkout.sh $1"
    nicelog = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%aE>%Creset [%G?]'
    children = "!f() { git rev-list --all --not $1^@ --children | grep $(git rev-parse $1); }; f" # reachable children of a ref
    deltag = "!f() { [ -z \"$1\" ] && return; git tag -d $1; git push origin :refs/tags/$1; }; f"

    cmsg = "!f() { if [ $# -gt 0 ]; then msg=\"$@\"; git commit -m \"$msg\"; else read -r msg; git commit -m \"$msg\"; fi; }; f"
[format]
    pretty = "%h %ci $ce %ae %d %s"
