[user]
    name = "Mario Valderrama"
    email = "<>"

[core]
    editor = vim

[push]
    default = simple

[alias]
    a = add
    ap = add --patch

    s = status -sb
    st = status

    m = merge --ff
    bl = blame -w
    b = !"git symbolic-ref HEAD 2>/dev/null | cut -d'/' -f3"
    co = checkout
    branches = branch -a
    stashes = stash list
    unstage = reset HEAD --
    semver = tag --sort=v:refname
    pick = cherry-pick
    sneak-push = push -o ci.skip

    c = commit
    amend = commit --amend
    cmsg = "!f() { if [ $# -gt 0 ]; then msg=\"$@\"; git commit -m \"$msg\"; else read -r msg; git commit -m \"$msg\"; fi; }; f"
    uncommit = !"git reset --soft HEAD~1 && git reset HEAD --"
    faceroll = !"git commit --amend --no-edit; git push -f"
    dammit = "!f() { $EDITOR $1; git add $1; git commit --amend --no-edit; git push -f; }; f"

    l = log --graph --oneline --decorate
    lg = log --graph --all --decorate --pretty=short
    last = log -1 HEAD'
    nicelog = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%aE>%Creset [%G?]'

    children = "!f() { git rev-list --all --not $1^@ --children | grep $(git rev-parse $1); }; f" # reachable children of a ref
    deltag = "!f() { [ -z \"$1\" ] && return; git tag -d $1; git push origin :refs/tags/$1; }; f"

    continue = "!f() { git status | grep -q 'rebase in progress' && git rebase --continue; }; f "
    skip = "!f() { git status | grep -q 'rebase in progress' && git rebase --skip; }; f "
    abort = "!f() { git status | grep -q 'rebase in progress' && git rebase --abort; }; f"

[format]
    pretty = "%h %ci $ce %ae %d %s"
