[user]
    name = "Mario Valderrama"
    email = "<>"

[core]
    editor = vim

[push]
    default = simple

[pull]
    rebase = true

[alias]
    a = add
    ap = add --patch

    s = status -sb
    st = status
    sha = rev-parse --short

    m = merge --ff
    bl = blame -w
    bm = branch -m
    bd = branch -D
    b = !"git symbolic-ref HEAD 2>/dev/null | cut -d'/' -f3"
    co = checkout
    cob = checkout -b
    branches = branch -a
    stashes = stash list
    unstage = reset HEAD --
    semver = tag --sort=v:refname
    pick = cherry-pick
    sneak-push = push -o ci.skip
    nuke = !"f(){ remote=$1; [ -z \"$remote\" ] && remote=$(git remote); git reset --hard $remote/$(git symbolic-ref HEAD 2>/dev/null | sed 's|refs/heads/||'); }; f"

    c = commit
    amend = commit --amend
    signoff = commit --amend --signoff
    redate = !"git commit --amend --no-edit --date=\"$(date -R)\""
    cmsg = "!f() { if [ $# -gt 0 ]; then msg=\"$@\"; git commit -m \"$msg\"; else read -r msg; git commit -m \"$msg\"; fi; }; f"
    uncommit = !"git reset --soft HEAD~1 && git reset HEAD --"
    faceroll = !"git commit --amend --no-edit; git push -f"
    dammit = "!f() { $EDITOR $1; git add $1; git commit --amend --no-edit; git push -f; }; f"
    purge-tag = "!f() { [ -z \"$1\" ] && return; git tag -d $1; git push origin :refs/tags/$1; }; f"

    pum = pull upstream master
    pom = push origin master

    l = log --graph --oneline --decorate
    lg = log --graph --all --decorate --pretty=short
    last = log -1 HEAD'
    nicelog = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%aE>%Creset [%G?]'

    children = "!f() { git rev-list --all --not $1^@ --children | grep $(git rev-parse $1); }; f" # reachable children of a ref

    continue = "!f() { git status | grep -q 'rebase in progress' && git rebase --continue; }; f "
    skip = "!f() { git status | grep -q 'rebase in progress' && git rebase --skip; }; f "
    abort = "!f() { git status | grep -q 'rebase in progress' && git rebase --abort; }; f"

    release = "!f() { git tag -a -m $1 $1; }; f"

    setup-contrib = "!f() { git remote rename origin upstream; git remote add origin $1; git remote set-url --push upstream no_push; }; f"

[format]
    pretty = "%h %ci $ce %ae %d %s"

[url "git@gitlab.in.strato.de:"]
    insteadOf = https://gitlab.in.strato.de/

[url "git@github.com:ionos-cloud"]
    insteadOf = https://github.com/ionos-cloud

[url "git@github.com:avorima"]
    insteadOf = https://github.com/avorima
